<h1 class="mb-5">Tarjetas de Proyectos Realizados</h1>
<div class="px-md-5 py-4 table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class=" px-2" scope="col">Id</th>
        <th class=" px-2" scope="col">Imagen</th>
        <th class=" px-2" scope="col">Nombre</th>
        <th class=" px-2" scope="col">Descripción</th>
        <th class=" px-2" scope="col">Url</th>
        <th class=" px-2" scope="col">Fecha</th>
        <th class=" px-2" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let proyecto of proyectos">
        <td class="align-middle  py-md-2 px-2 ">{{proyecto.id}}</td>
        <td class="align-middle  py-md-2 px-2 ">
          <img class="" src="{{proyecto.url_miniatura}}" alt="">
        </td>
        <td class="align-middle  py-md-2 px-2 ">{{proyecto.nombre}}</td>
        <td class="align-middle  py-md-2 px-2 ">{{proyecto.descripcion}}</td>
        <td class="align-middle py-md-2 px-2 text-primary">
          {{proyecto.url_proyecto}} </td>
        <td class="align-middle py-md-2 px-2">{{proyecto.fecha_creacion}}</td>
        <td class="align-middle ">
          <a class="m-1 px-3 py-2 btn btn-warning" [routerLink]="['form',proyecto.id]"><i
              class=" fa-solid fa-pen-to-square"></i></a>
          <button class="m-1 px-3 py-2 btn btn-danger" data-bs-toggle="modal"
            [attr.data-bs-target]="'#eliminarProyecto'+proyecto.id"><i class=" fa-solid fa-trash-can"></i></button>
          <!-- Modal -->
          <div class="modal fade"  id="eliminarProyecto{{proyecto.id}}" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="'eliminarProyecto'+proyecto.id"
            aria-hidden="true" #myModal>
            <div class="modal-dialog">
              <div class="modal-content" *ngIf="!eliminado">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="h4">¿Está seguro de querer eliminar éste proyecto?</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-danger" (click)="eliminar(proyecto.id)">Sí, eliminar</button>
                </div>
              </div>
              <div class="modal-content" *ngIf="eliminado">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="getAll()"></button>
                </div>
                <div class="modal-body">
                  <i class="fs-1 text-success fa-regular fa-circle-check"></i>
                  <p class="h4">Proyecto eliminado correctamente</p>
                </div>
                <div class="modal-footer justify-content-between">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a href="editar/form/add/proyectos"><button class="btn btn-light border-bottom border-top  float-center"><i
      class="fa-solid fa-plus pe-2 "></i>Agregar</button></a>

