<footer class="bg-dark px-4 py-4">
  <div class="mx-auto w-60 fs-5">
  <div class="row justify-content-center">
        <a class="col-md-3 text-center px-4 py-md-2 py-3" href="https://www.instagram.com/guidosanz99/">
          <i class="fa-brands fa-instagram pe-1"></i>Instagram</a>

        <a class="col-md-3 text-center px-4 py-md-2 py-3" href="https://www.linkedin.com/in/guido-abel-sanchez/">
          <i class="fa-brands fa-linkedin pe-1"></i>Linkedin</a>

        <a class="col-md-3 text-center px-4 py-md-2 py-3" href="https://github.com/Sanchezguidorl">
          <i class="fa-brands fa-github pe-1"></i>GitHub</a>
  </div>
</div>
</footer>
