<footer class="bg-dark px-4 py-4">
  <div>
    <ul>
      <li><a href="https://www.linkedin.com/in/guido-abel-sanchez/">Linkedin</a></li>
      <li><a href="https://www.linkedin.com/in/guido-abel-sanchez/">Linkedin</a></li>
      <li><a href="https://www.linkedin.com/in/guido-abel-sanchez/">Linkedin</a></li>
      <li><a href="https://www.linkedin.com/in/guido-abel-sanchez/">Linkedin</a></li>
    </ul>
  </div>
  <h6 class="text-white text-center" >Portfolio de Guido Sanchez Footer &copy;</h6>
</footer>
