<div class=" div-about container bg-dark my-4 p-4 ">
  <div
    class="d-flex justify-content-center align-items-center text-white flex-column flex-md-row text-center text-md-start">
    <img class="img-fluid img-about m-xl-4 m-3"
      src="https://media.licdn.com/dms/image/C4E03AQFUYeiwOUBtMg/profile-displayphoto-shrink_800_800/0/1628277917550?e=1678924800&v=beta&t=Z5MD2rOiGPfWaqWIlc3JxzwotZDYuK3j7EB2e5c_fFM"
      alt="foto de Guido Sanchez">
    <div class="">
      <h2 class="h3">Guido Abel Sanchez</h2>
      <p class="text-secondary fw-bold">
        Soy un desarrollador que ha estado estudiando de forma autodidacta durante los últimos dos años en lo que
        respecta a los lenguajes y tecnologías utilizados en el desarrollo web, especialmente del lado del servidor.
        Para complementar mis conocimientos, también he realizado cursos formales en la Universidad Tecnológica
        Nacional, Argentina, y actualmente estoy cursando el programa de estudio Oracle Next Education y Argentina
        Programa.
        En mi recorrido de estudio, he aprendido a utilizar HTML, CSS, SASS y Bootstrap, así como los lenguajes de
        programación JavaScript, PHP y Java, y a trabajar con bases de datos relacionales SQL. También he realizado
        proyectos de práctica con frameworks como Laravel, Angular y React.
      </p>
    </div>
  </div>
</div>
