<div class=" div-about container bg-dark my-4 p-4 ">
  <div
    class="d-flex justify-content-center align-items-center text-white flex-column flex-md-row text-center text-md-start">
    <img class="img-fluid img-about m-xl-4 m-3"
      src="https://media.licdn.com/dms/image/C4E03AQFUYeiwOUBtMg/profile-displayphoto-shrink_800_800/0/1628277917550?e=1678924800&v=beta&t=Z5MD2rOiGPfWaqWIlc3JxzwotZDYuK3j7EB2e5c_fFM"
      alt="foto de Guido Sanchez">
      <div class="">
        <h2 class="h3">Guido Abel Sanchez</h2>
        <p class="text-secondary fw-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima,
          dicta accusamus nostrum accusantium eaque dolorum nesciunt sit, earum esse dolore assumenda,
          fugiat deleniti exercitationem animi nobis! Officiis impedit adipisci voluptatibus. Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Est id enim quos,
          nulla ipsam voluptatem, aspernatur dicta cumque dolore repellat ab praesentium blanditiis?
          Eum, totam porro sint sunt hic tempore.
        </p>
        <p class="text-secondary fw-bold">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima,
          dicta accusamus nostrum accusantium eaque dolorum nesciunt sit, earum esse dolore assumenda,
          fugiat deleniti exercitationem animi nobis! Officiis impedit adipisci voluptatibus. Lorem,
          ipsum dolor sit amet consectetur adipisicing elit. Est id enim quos,
          nulla ipsam voluptatem, aspernatur dicta cumque dolore repellat ab praesentium blanditiis?
          Eum, totam porro sint sunt hic tempore.
        </p>
      </div>
  </div>
</div>
