<div class=" div-about container bg-dark my-4 p-4 ">
  <div
    class="d-flex justify-content-center align-items-center text-white flex-column flex-md-row text-center text-md-start">
    <img class="img-fluid img-about m-xl-4 m-3"
      src="../../../../assets/foto-card.png"
      alt="foto de Guido Sanchez">
    <div class="">
      <h2 class="h3">Guido Abel Sanchez</h2>
      <p class="text-secondary fw-bold">
        Durante los últimos dos años, he perfeccionado mis habilidades de forma autodidacta y a través de cursos en la
        Universidad Tecnológica Nacional de Argentina. También he ampliado mis horizontes en el desarrollo mediante el
        programa de estudio Oracle Next Education y Argentina Programa, siempre enfocado en el aprendizaje continuo.
        He dominado lenguajes y tecnologías esenciales como HTML, CSS, SASS y Bootstrap, así como JavaScript, PHP y
        Java. Mi experiencia incluye trabajo con bases de datos SQL y proyectos prácticos con frameworks como Laravel,
        Angular y React.
        Recientemente, he creado proyectos personales en React, desarrollando aplicaciones que consumen APIs para
        ofrecer soluciones interactivas y enriquecedoras. Además, estoy aprendiendo Express y participando en la
        creación de APIs que respaldan la lógica empresarial de mis aplicaciones en React.
        Busco una oportunidad para ganar experiencia en desarrollo web, tanto en el frontend como en el backend. Me
        entusiasma el trabajo en equipo y colaborar de manera efectiva. Encuentro gran satisfacción en tanto enseñar
        como aprender.
      </p>
    </div>
  </div>
</div>