<header class="bg-dark text-white text-uppercase sticky-top">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-4">
    <div class="container-fluid justify-content-around">

      <a class="navbar-brand d-flex " href="#">
        <img class="" src="../../../assets/logo-page.png"
          alt="logo de curso Argentina programa" height="50">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
        aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show justify-content-lg-end" id="navbarDark">
        <ul class="navbar-nav me-auto me-xl-0 mb-2 mb-xl-0 text-center">
          <li class="nav-item">
            <a class="nav-link " href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#sobremi">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#contacto">Contacto</a>
          </li>
          <li class="nav-item dropdown" *ngIf="authenticated">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle='dropdown' aria-expanded="false">
             Administrar
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="text-center text-lg-start dropdown-item" href="editar/proyectos">Proyectos</a></li>
              <li><a class="text-center text-lg-start dropdown-item" href="editar/estudios">Estudios</a></li>
            </ul>
          </li>
          <div *ngIf="authenticated">
            <li class="nav-item">
              <a class="nav-link" href="/" (click)="logout()">
                <i class="pe-1 fa-solid fa-right-from-bracket"></i> Logout
              </a>
            </li>
          </div>
          <div *ngIf="!authenticated">
            <li class="nav-item">
              <a class="nav-link" href="/login">
                <i class="pe-1 fa-solid fa-right-to-bracket"></i> Login
              </a>
            </li>
          </div>
          <!--
          <li class="nav-item">
            <a class="nav-link " href="/login">
              <i class="pe-1 fa-solid fa-right-from-bracket"></i>Logout</a>

          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>


</header>
