<h1 class="mb-5">Tarjetas de Estuidos</h1>
<div class="px-md-5 py-4 ">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="px-2" scope="col">Institución</th>
        <th class="px-2" scope="col">Curso</th>
        <th class="px-2" scope="col">Estado</th>
        <th class="px-2" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td class="align-middle  py-md-2 px-2 ">Maasdasasdsaddsadrk</td>
        <td class="align-middle py-md-2 px-2">
          111111111111111111111111asdlksssssssssssssssajdklasdsaddddddddddddddddddasjwqedasdasdasdsadsad </td>
        <td class="align-middle py-md-2 px-2">@masdsadsadsadsadsaddo</td>
        <td class="align-middle ">
          <a class="m-1 px-3 py-2 btn btn-warning" href="editar/form/estudios"><i class=" fa-solid fa-pen-to-square"></i></a>
          <button class="m-1 px-3 py-2 btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
            class=" fa-solid fa-trash-can"></i></button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="h4">¿Está seguro de querer eliminar éste curso?</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a type="button" class="btn btn-danger">Sí, eliminar</a>
              </div>
            </div>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="editar/form/add/estudios"><button class="btn btn-light border-bottom border-top  float-center"><i
      class="fa-solid fa-plus pe-2 "></i>Agregar</button></a>
</div>
