<div class="container px-0 pt-5 bg-light">
  <h2 class="shadow-inset text-center text-secondary fw-light mt-5 mb-3 mb-md-5 py-4 ">Proyectos realizados</h2>
  <div class="row mx-1 px-2 justify-content-center">
    <div class=" col-12 col-md-6 col-xl-4 p-1">
      <app-pj-realizados></app-pj-realizados>
    </div>
    <div class=" col-12 col-md-6 col-xl-4 p-1">
      <app-pj-realizados></app-pj-realizados>
    </div>
    <div class=" col-12 col-md-6 col-xl-4 p-1">
      <app-pj-realizados></app-pj-realizados>
    </div>
    <div class=" col-12 col-md-6 col-xl-4 p-1">
      <app-pj-realizados></app-pj-realizados>
    </div>
    <div class=" col-12 col-md-6 col-xl-4 p-1">
      <app-pj-realizados></app-pj-realizados>
    </div>
  </div>
</div>
