<a href="#" class="position-relative">
  <div class="card bg-dark text-white">
    <img
      src="https://www.geekmi.news/__export/1670174434904/sites/debate/img/2022/12/04/akatsuki-naruto.jpg_1884277213.jpg"
      class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title ">Nombre de la página</h5>
      <p class="card-text">Descripción breve: This is a wider card with supporting text below as a natural lead-in
        to additional content. This content is a little bit longer.</p>
      <p class="card-text text-end">22/09/2022</p>
    </div>
  </div>
  <div class="position-absolute overlay-card">
  </div>
</a>
