<div *ngIf="!loading" class="row mx-1 px-2 justify-content-center">
  <div class=" col-12 col-md-6 col-xl-4 p-1 slow-opacity"
    *ngFor="let pj of proyectos?proyectos.slice(0,!mostrarTodos?3:proyectos.length):''">
    <div id="proyectos-card" class="position-relative" style="background-image: url({{pj.url_miniatura}});
    background-size: cover; background-position: center;">
      <div id="card-project" class="card" style="border: none;">
        <div class="card-img-overlay h-70">
          <p class="card-title-pj">{{pj.nombre}}</p>
          <p class="card-text text-hidden mb-0">{{pj.descripcion}} Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Esse exercitationem similique, culpa iure ad hic
            voluptas possimus a in ab vitae corrupti fugit, ipsam aliquid natus aperiam tempore repudiandae temporibus
            Lorem ipsum, dolor sit amet consectetur adiÑpisicing
            elit. Ipsa aliquam dicta corporis, mollitia quo laudantium dignissimos
            necessitatibus magni et modi eaque, eligendi dolores.
            Aperiam consequuntur numquam nihil dolore ipsa vel?</p>
          <p class="card-text text-end ellipsis">{{pj.fecha}}</p>
        </div>
      </div>
      <div class="position-absolute overlay-card" data-bs-toggle="modal"
        [attr.data-bs-target]="'#staticBackdrop'+ pj.id">
      </div>
      <!-- Modal -->
      <div class="modal text-dark" id="staticBackdrop{{pj.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">{{pj.nombre}}</h5>
            </div>
            <div class="modal-body">
              <div class="container row mx-0">
                <img src="{{pj.url_miniatura}}" class="img-fluid c-12" alt="...">
                <div class="w-100 c-12">
                  <p class="pt-3 text-wrap-description">
                    {{pj.descripcion}}
                  </p>
                  <div class=" w-100 d-flex justify-content-center">
                  <a href="{{pj.url_proyecto}}" target="_blank"
                    class="text-white btn btn-secondary text-center border rounded  py-2 mt-4">
                    <i class="fa-solid fa-link pe-3"></i>
                    <strong>Visitar sitio del proyecto</strong>
                  </a>
                </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loadingio-eclipse bg-light w-100 container">
  <div class="ldio-rpinwye8j0b ">
    <div>
    </div>
  </div>
</div>
