<div class="container bg-light pt-5 ">
  <div class="row justify-content-md-end flex-column align-items-center flex-md-row ">
    <div class=" col-6 col-md-4 col-xl-3  mx-auto mx-md-0 mb-4">
      <div id="carouselWithInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" height="260" data-bs-interval="3000">
            <img src="https://symbols.getvecta.com/stencil_25/0_angular.fe63c22e96.svg" class="w-100"
              alt="Logo de Angular">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://img.icons8.com/color/256/java-coffee-cup-logo--v1.png" class="w-100" alt="Logo de Java">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
              class="w-100" alt="Logo de Javascript">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png"
              class="w-100" alt="Logo de Typescript">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://dz2cdn1.dzone.com/storage/temp/12434118-spring-boot-logo.png"
              class="w-100 pt-2 pt-md-3" alt="Logo de Spring Boot">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://img.icons8.com/color/256/html-5.png" class="w-100" alt="Logo de HTML">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://img.icons8.com/color/256/npm.png" class="w-100" alt="Logo de NPM">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://symbols.getvecta.com/stencil_22/10_php.01725e2871.svg" class="w-100" alt="Logo de PHP">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/121-css3-512.png" class="w-100" alt="Logo de CSS">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img  src="https://seeklogo.com/images/B/bootstrap-logo-3C30FB2A16-seeklogo.com.png" class="w-100 "
              alt="Logo de Boostrap">
          </div>
          <div class="carousel-item " height="260" data-bs-interval="3000">
            <img src="https://symbols.getvecta.com/stencil_261/27_mysql.4e2ff8ff6c.svg" class="w-100 "
              alt="Logo de MySql">
          </div>
        </div>
      </div>
    </div>
    <div class=" p-0 col-md-7 col-xl-8 col-12 d-flex justify-content-center flex-wrap-reverse">
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'HTML'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="800"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'CSS'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="800"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'JS'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="700"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'TS'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="600"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'PHP'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="800"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'Spring Boot'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="700"></circle-progress>
      <circle-progress class="" [percent]="85" [radius]="70" [title]="'CSS'" [subtitle]="'INTERMEDIO'"
        [showUnits]="false" [titleFontSize]="'18'" [titleFontWeight]="'900'" [subtitleFontWeight]="'900'"
        [outerStrokeWidth]="20" [innerStrokeWidth]="2" [space]="5" [outerStrokeColor]="'#212529'"
        [innerStrokeColor]="'#cccccc'" [animation]="true" [animationDuration]="600"></circle-progress>
    </div>
  </div>
</div>
