<div class="container">
  <div class="d-flex justify-content-center flex-wrap-reverse">
<circle-progress class="m-3 p3"
  [percent]="85"
  [radius]="80"
  [title]="'CSS'"
  [subtitle]="'INTERMEDIO'"
  [showUnits]="false"
  [titleFontSize]="'40'"
  [titleFontWeight]="'900'"
  [subtitleFontWeight]="'900'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="2"
  [space]="20"
  [outerStrokeColor]="'#212529'"
  [innerStrokeColor]="'#cccccc'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
<circle-progress class="m-3 p3"
  [percent]="85"
  [radius]="80"
  [title]="'CSS'"
  [subtitle]="'INTERMEDIO'"
  [showUnits]="false"
  [titleFontSize]="'40'"
  [titleFontWeight]="'900'"
  [subtitleFontWeight]="'900'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="2"
  [space]="20"
  [outerStrokeColor]="'#212529'"
  [innerStrokeColor]="'#cccccc'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
<circle-progress class="m-3 p3"
  [percent]="85"
  [radius]="80"
  [title]="'CSS'"
  [subtitle]="'INTERMEDIO'"
  [showUnits]="false"
  [titleFontSize]="'40'"
  [titleFontWeight]="'900'"
  [subtitleFontWeight]="'900'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="2"
  [space]="20"
  [outerStrokeColor]="'#212529'"
  [innerStrokeColor]="'#cccccc'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
<circle-progress class="m-3 p3"
  [percent]="85"
  [radius]="80"
  [title]="'CSS'"
  [subtitle]="'INTERMEDIO'"
  [showUnits]="false"
  [titleFontSize]="'40'"
  [titleFontWeight]="'900'"
  [subtitleFontWeight]="'900'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="2"
  [space]="20"
  [outerStrokeColor]="'#212529'"
  [innerStrokeColor]="'#cccccc'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
</div>
