body, .card{
  background-color: rgb(207,216,220);
}

.shadow-down{
margin-bottom: 7rem;
  box-shadow: 0px 20rem 2rem -17rem rgba(0, 0, 0, 0.7);
}


/*Clases para contenedor sobre mi*/
.img-about{
height: 180px;
border-radius: 50%;
}

.div-about{
  box-shadow: 0 0 2rem 0rem rgb(0, 0, 0,0.7);
}

/*Animacion para carrusel*/
@keyframes aparicion {
  0%{
    opacity: 0;
  }

  70%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.carousel-item{
animation: aparicion 4s;
}

/*Estilos para seccion de proyectos realizados*/

.shadow-inset{
  box-shadow: 0px -25px 20px -25px rgba(0,0,0,0.50) inset;

}

.overlay-card{
  top: 0px;
  z-index: 1;
  height: 100% ;
  width: 100% ;
  transition: 1.5s;
}

.overlay-card:hover{

  background-color: rgba(0, 0, 0, 0.5)

}


